.best-products{
    padding: 70px 0;
}
.swiper {
    width: 100%;
    height: 560px;
    padding: 0 45px !important;
  }
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    background-color: #fff !important;
    width: 90% !important;
    height: 10px !important;
    margin-left: 4%;
}
.swiper-scrollbar-drag{
    background-color: #000 !important;
}
  .swiper-button-next{
   background: url('../../assets/Group 13 (1).png');
   background-repeat: no-repeat;
   background-size: contain;
   cursor: pointer;
   /* margin-right: 30px; */
  }
  .swiper-button-prev{
    background: url('../../assets/Group 14 (1).png');
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-right: 30px; */
    cursor: pointer;
   }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    height: 400px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /* .swiper-scrollbar{
    background-color: antiquewhite;
  } */
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    /* width: 0% !important; */
    height: 350px !important;
    border-radius: 27px;
    align-self: center;
    padding: 20px;
  }
  .swiper-card img{
    width: 50%;
  }
  .swiper-card__prev{
    font-weight: 500;
    color: red;
    text-decoration: line-through;
  }
  .swiper-card__curr{
    font-size: 500;
    border: 1px solid green;
    padding: 2px 20px;
    align-self: center;
    color: green;
  }