.admin-page-inner{
    background: url('../assets/bg2.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.admin-page__inner-wrapper{
    display: flex;
    gap: 10px;
}